.follow{
    margin: 88px 108px 48px;
}
.follow_gallery{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows:repeat(9,1fr);
    margin-top: 24px;
    /*gap: 24px;*/
}
.follow_gallery > .ui-card:nth-child(1){
    grid-column: 1/6;
    grid-row: 1/10;
}
.follow_gallery > .ui-card:nth-child(2){
    grid-column: 6/10;
    grid-row: 1/7;
}
.follow_gallery > .ui-card:nth-child(3){
    grid-column: 9/13;
    grid-row: 1/7;
}
.follow_gallery > .ui-card:nth-child(4){
    grid-column: 6/10;
    grid-row: 6/10;
}
.follow_gallery > .ui-card:nth-child(5){
    grid-column: 9/13;
    grid-row: 6/10;
}

.card_img {
    inset: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-data{
    grid-row: 0;
}

