.hero_img{
    display: flex;
    flex-direction: column;
}
.hero_img{
    width: 100vw;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url('/public/images/hero.png') ;
}
.hero_button{
    background-color: #FFFFFF;
    width: 13vw;
    height: 3vw;
}
.hero_text{
    font-family: "Gill Sans MT";
}