.hero{
    position: relative;
}
.hero_img{
    display: flex;
    flex-direction: column;
}
.hero_img{
    width: 100vw;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero_button{
    background-color: #FFFFFF;
    width: 13vw;
    height: 3vw;
}
.hero_text{
    font-family: "Gill Sans MT";
    position: absolute;
    bottom: 13vw;
    left: 10vw;
}
.hero_button{
    position: absolute;
    bottom: 8vw;
    left: 10vw;
}
