.card {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    justify-content: flex-end;

    /*position: relative;*/
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*.card_img {*/
/*    position: absolute;*/
/*    inset: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*}*/

.card_button {
    position: absolute;
    top: 34px;
    right: 24px;
    cursor: pointer;
}
.card_colors {
    display: flex;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 3vw;*/
    gap: 8px;
    margin: 8px 0 0;
    padding: 0;
    list-style: none;
    align-items: center;
}
.color_dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 0 0 1px rgba(255,255,255,.8) inset;
}


.cards_gallery{
    display: flex;
    justify-content: space-between;
    /*gap:24px;*/
}
.cards{
    margin: 44px 0;
    padding: 1.5vw 7.5vw;
}
.card-data{
    display: flex;
    /*gap: 20px;*/
    justify-content: space-between;
    /*flex-direction: column;*/
    /*position: absolute;*/
    /*bottom: 0;*/

    padding: 16px;
    /*background-color: rgba(211, 119, 119, 0.8);*/
    box-sizing: border-box;
}
.car_price{
    display: flex;
    align-items: center;
}
