.collection{
    margin: 0 108px;
}
.collection_gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 100px);
    gap: 24px;
    margin-top: 24px;
}


.collection_gallery > .ui-card:nth-child(1) {
    grid-column: 1 / 7;
    grid-row: 1/5;
}


.collection_gallery > .ui-card:nth-child(2) {
    grid-column: 7 / 13;
    grid-row: 1 / 7;
}

.collection_gallery > .ui-card:nth-child(3) {
    grid-column: 1 / 7;
    grid-row: 5/10;
}


.collection_gallery > .ui-card:nth-child(4) {
    grid-column: 7 / 13;
    grid-row: 7/10;
}

.ui-card {
    position: relative;
    width: 100%;
    height: 100%;
}

.card_img {
    /*position: absolute;*/
    inset: 0;
    background-size: cover;
    /*background-position: center;*/
    background-repeat: no-repeat;
}
.collection_gallery > .ui-card {
    width: 100%;
    height: 100%;
    position: relative;
}
