.collection{
    margin: 0 108px;
}
.collection_gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 400px);
    gap: 20px;
}


.collection_gallery > .card:nth-child(1) {
    grid-column: 1 / 7;
    grid-row: 1;
}


.collection_gallery > .card:nth-child(2) {
    grid-column: 7 / 13;
    grid-row: 1 / 3;
}

.collection_gallery > .card:nth-child(3) {
    grid-column: 1 / 7;
    grid-row: 2;
}


.collection_gallery > .card:nth-child(4) {
    grid-column: 7 / 13;
    grid-row: 2;
}

/*.collection_gallery{*/
/*    display: grid;*/
/*    grid-template-columns: repeat(12, minmax(0,1fr));*/
/*    gap: 20px;*/

/*}*/
/*.card {*/
/*    aspect-ratio: 3 / 4;   !* или другая форма *!*/
/*    overflow: hidden;      !* чтобы картинка не вылазила *!*/
/*}*/

/*.card img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/
/*.collection_gallery {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(12, 1fr);*/
/*    grid-auto-rows: 250px; !* базовая «рядность» *!*/
/*    gap: 20px;*/
/*}*/

/*.collection_gallery > .card:nth-child(1) { grid-column: 1 / 7; grid-row: span 1; }*/
/*.collection_gallery > .card:nth-child(2) { grid-column: 7 / 13; grid-row: span 2; }*/
/*.collection_gallery > .card:nth-child(3) { grid-column: 1 / 7; grid-row: span 1; }*/
/*.collection_gallery > .card:nth-child(4) { grid-column: 7 / 13; grid-row: span 1; }*/


/*.collection_gallery > .card:nth-child(1){*/
/*    grid-column: 1/7;*/
/*    !*grid-row: span 1;*!*/
/*    aspect-ratio: 5/6;*/
/*}*/

/*.collection_gallery > .card:nth-child(2){*/
/*    grid-column: 7/13;*/
/*    aspect-ratio: 3/4;*/
/*    !*grid-row: span 2;*!*/
/*}*/
/*.collection_gallery > .card:nth-child(3){*/
/*    grid-column: 1/7;*/
/*    aspect-ratio: 3/4;*/
/*    !*grid-row: span 1;*!*/
/*}*/
/*.collection_gallery > .card:nth-child(4){*/
/*    grid-column: 7/13;*/
/*    aspect-ratio: 2/3;*/
/*    !*grid-row: span 1;*!*/
/*}*/
/*.blue_box{*/
/*    position: relative;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: blue;*/
/*}*/
/*.red_box{*/
/*    position: absolute;*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background-color: red;*/
/*}*/


